doctype html
html
    head
    body
        div
            div(style="background:#e8e8e8 url('');font-family:'segoe ui',calibri,helvetica,arial;padding:50px 0;text-align:center", align='center')
                div(style='margin:0 auto;padding:30px 0 15px;width:540px')
                    img(width='130', src='')
                div(style='background:#ffffff;border-radius:4px;border:1px solid #d4d4d4;font-size:14px;margin:0 auto;text-align:left;width:540px', align='left')
                    div(style='color:#222;margin:0 auto;padding:40px 0;width:460px')
                        img(src='')
                        br
                        br
                        div お問い合わせ完了！
                            br
                            div テキストボックス
                            br
                            div #{text}

                            br
                            div メアド
                            br
                            div #{email}

                            br
                            div テキストエリア
                            br
                            div #{textarea}

                            br
                            div チェックボックス
                            br
                            div #{check1}
                            div ,
                            div #{check2}

                            br
                            div ラジオボタン
                            br
                            div #{group}

                            br
                            div セレクトボックス
                            br
                            div #{select}





                        br
                        table
                            tbody
                                tr
                div(style='font-size:12px;margin:10px auto;text-align:center;width:540px', align='center')
                    span(style='color:#888888;margin-top:3px;text-decoration:none')
                        span
                            a(href='',style='color:#888888;margin-left:10px;text-decoration:none', target='_blank', data-saferedirecturl='') COMPANY NAME

